th,
td {
  vertical-align: top;
  text-align: left;
}
thead th:nth-child(1) {
  width: 100px;
}
.box {
  display: inline-block;
  height: 1em;
  background-color: green;
  width: 400px;
}
.godrole {
  font-variant-position: super;
  font-size: 0.8em;
}
.godrole.godrole-guardian {
  color: #aab058;
}
.godrole.godrole-assassin {
  color: #f4d608;
}
.godrole.godrole-warrior {
  color: #ff4040;
}
.godrole.godrole-mage {
  color: #bc6fb3;
}
.godrole.godrole-hunter {
  color: #ffa44b;
}
#relatedpages {
  background-color: #eeeeff;
  line-height: 2em;
  padding: 0.4em;
  font-style: normal;
}
#relatedpages a {
  margin: 0 0.4em;
  padding: 0.2em;
  background-color: #ccccff;
  border-radius: 6px;
  border: 1px solid #ccccff;
  text-decoration: none;
}
#relatedpages a:hover {
  background-color: #aaaaff;
  border-color: #aaaaff;
  color: #000;
}
