* {border:0; margin:0; padding:0; text-decoration:none;}

html {padding:8px 8px 16px;}

input[type=text] { border:1px solid #dddddd; }
table, tr, th, td {border:1px solid #cccccc; vertical-align:top;}
table {border-collapse:collapse;}
th, td {padding:2px;}
thead th {vertical-align:bottom;}
tbody th {text-align:right;}
ul, li {list-style-type:none; display:inline-block;}
footer {
	font-size:0.9em; line-height:1.2em;
	margin:8px 0 0; font-style:italic;
}
aside { font-style:italic; }

.god {display:inline-block; position:relative; background-color:#dddddd; }
.god a {display:block;}
.god:hover:after {content:attr(title); color:#000000; background-color:ffffff; display:block; width:100%; height:12px; position:absolute;}
/* Icon size: 128x128 */
.godicon, .godnoicon { display:block; width:100%; }
.godnoicon { background-color:lightblue; font-weight:bold; text-align:center; }
.godname { height:16px; font-size:14px; line-height:16px; text-align:center; white-space:nowrap; overflow:hidden; }

#legend_freerotation, .freerotation {
	font-size:12px; line-height:12px;
	background:#44cc44;
	font-weight:bold;
	padding:2px;
	border:1px solid #000;
}
.freerotation {
	position:absolute; top:0px; left:0px;
	border-radius:0 0 2px 0;
}

#god-icon-size-value { width:auto; }

.icon-pantheon {
	background:url(roles-pantheons-spritesheet-inverted.png);
	width:100px; height:100px;
	float:right;
}
.icon-pantheon-chinese {
	background-position:-200px -200px;
}
.icon-pantheon-egyptian {
	background-position:-300px -200px;
}
.icon-pantheon-greek {
	background-position:-100px -200px;
}
.icon-pantheon-hindu {
	background-position:-200px -100px;
}
.icon-pantheon-japanese {
	background-position:-400px -200px;
}
.icon-pantheon-mayan {
	background-position:-350px -100px;
}
.icon-pantheon-norse {
	background-position:0px -200px;
}
.icon-pantheon-roman {
	background-position:-38px -100px;
	width:124px;
}
