* {
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html {
  padding: 8px 8px 16px;
  font-size: 100%;
  line-height: 1.3em;
}
h1 {
  font-size: 1.6em;
  line-height: 1.6em;
  margin: 0.2em 0 0.1em;
}
h2 {
  font-size: 1.4em;
  line-height: 1.4em;
  margin: 0.3em 0 0.1em;
}
input[type=text] {
  border: 1px solid #dddddd;
}
table,
tr,
th,
td {
  border: 1px solid #cccccc;
  vertical-align: top;
}
table {
  border-collapse: collapse;
}
th,
td {
  padding: 2px;
}
thead th {
  vertical-align: bottom;
}
tbody th {
  text-align: right;
}
ul,
li {
  list-style-type: none;
  display: inline-block;
}
footer {
  font-size: 0.9em;
  line-height: 1.2em;
  margin: 8px 0 0;
  font-style: italic;
}
aside {
  font-style: italic;
}
.god {
  display: inline-block;
  position: relative;
  background-color: #dddddd;
}
.god a {
  display: block;
}
/* .god:hover::after {content:attr(title); color:#000000; background-color:#ffffff; display:block; width:100%; height:12px; position:absolute;} */
/* Icon size: 128x128 */
.godicon,
.godnoicon {
  display: block;
  width: 100%;
}
.godnoicon {
  background-color: lightblue;
  font-style: italic;
  text-align: center;
}
.godname {
  height: 16px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
.goddetails {
  display: none;
  position: absolute;
  top: 80px;
  left: -50%;
  z-index: 1;
  width: 400px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 4px 8px;
}
.god:hover .goddetails {
  display: block;
}
.goddetails .caption {
  font-size: 0.6em;
  line-height: 1em;
}
.goddetails h2 {
  margin: 0;
}
.goddetails .ability {
  margin-top: 2px;
}
.goddetails .ability img {
  margin-right: 4px;
  height: 2em;
  vertical-align: middle;
}
.goddetails .ability-description {
  display: none;
  position: absolute;
  left: 200px;
  width: 400px;
  background-color: #fff;
  border: 1px solid #333;
}
.goddetails .ability:hover .ability-description {
  display: block;
}
.goddetails .ability-description {
  padding: 2px 4px;
}
.data-block {
  background: #fafafa;
  padding: 8px 4px;
  margin: 4px;
  border: 2px solid transparent;
}
.data-block h2 {
  margin: 0 0 0.1em;
}
.filter {
  margin-bottom: 8px;
}
#legend {
  float: right;
}
#options {
  float: left;
}
#filters {
  float: left;
}
#legend_freerotation,
.freerotation {
  font-size: 12px;
  line-height: 12px;
  background: #44cc44;
  font-weight: bold;
  padding: 2px;
  border: 1px solid #000;
  cursor: default;
}
.freerotation {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 0 0 2px 0;
}
#god-icon-size-value {
  width: auto;
}
.icon-pantheon {
  background: url(roles-pantheons-spritesheet-inverted.png);
  width: 100px;
  height: 100px;
  float: right;
}
.icon-pantheon- {
  background-position: -500px -100px;
}
.icon-pantheon-chinese {
  background-position: -200px -200px;
}
.icon-pantheon-egyptian {
  background-position: -300px -200px;
}
.icon-pantheon-greek {
  background-position: -100px -200px;
}
.icon-pantheon-hindu {
  background-position: -200px -100px;
}
.icon-pantheon-japanese {
  background-position: -400px -200px;
}
.icon-pantheon-mayan {
  background-position: -300px -100px;
}
.icon-pantheon-slavic {
  background-position: -400px -100px;
}
.icon-pantheon-norse {
  background-position: 0px -200px;
}
.icon-pantheon-roman {
  background-position: -38px -100px;
  width: 124px;
}
.icon-pantheon-celtic {
  background-position: -500px -200px;
}
input[type=button],
input[type=text] {
  padding: 2px 4px;
}
.filter-role-option,
.filter-pantheon-option {
  background: #dddddd;
  padding: 2px 4px;
  cursor: pointer;
}
#role-column-assassin,
#filter-role-option-assassin {
  background: #f4d608;
}
#role-column-warrior,
#filter-role-option-warrior {
  background: #ff4040;
}
#role-column-hunter,
#filter-role-option-hunter {
  background: #ffa44b;
}
#role-column-mage,
#filter-role-option-mage {
  background: #bc6fb3;
}
#role-column-guardian,
#filter-role-option-guardian {
  background: #aab058;
}
#relatedpages {
  background-color: #eeeeff;
  line-height: 2em;
  padding: 0.4em;
  font-style: normal;
}
#relatedpages a {
  margin: 0 0.4em;
  padding: 0.2em;
  background-color: #ccccff;
  border-radius: 6px;
  border: 1px solid #ccccff;
  text-decoration: none;
}
#relatedpages a:hover {
  background-color: #aaaaff;
  border-color: #aaaaff;
  color: #000;
}
