<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>SMITE API Status</title>
	<link rel="stylesheet" href="api-status.css?20180929" />
</head>
<body>
    <aside id="relatedpages">See also: <a href="smitegods.html">SMITE Gods Overview Table</a><a href="god-skins.html">SMITE God Skins</a><a href="godstats.html">SMITE God Stats</a></aside>
    <h1>SMITE API Status</h1>
    <p>Last Update: {{LastUpdate}}</p>
    <ul>
        <li>Server Status: {{Status}}</li>
        <li>Server Version: {{Version}}</li>
    </ul>
    {{#goddata}}
        <h2>God Data</h2>
        <p>Last checked at: {{lastchecked}}</p>
        <table>
            <tr><td>God count</td><td>{{godscount}}</td></tr>
            <tr><td>God card image count</td><td>{{godscardcount}}</td></tr>
            {{!<tr><td>God card image missing count</td><td>{{godscardmissingcount} }</td></tr>}}
            <tr><td>God icon image count</td><td>{{godsiconcount}}</td></tr>
            {{!<tr><td>God icon image missing count</td><td>{{godsiconmissingcount} }</td></tr>}}
            <tr><td>Godskins count</td><td>{{godsskinscount}}</td></tr>
            <tr><td>Godskins card image count</td><td>{{godsskinscardcount}}</td></tr>
            <tr><td>Godskins card image missing count</td><td>{{godsskinscardmissingcount}}</td></tr>
        </table>
        <p>Missing god skin card images:</p>
        <ul>
            {{#godsskinscardsmissing}}
                <li><a href="{{.}}">{{.}}</a></li>
            {{/godsskinscardsmissing}}
        </ul>
        <p>God skin without card image URL:</p>
        <ul>
        {{#godsskinscardsempty}}
            <li>{{godname}} ({{godid}}): {{skinname}} ({{skinid}})</li>
        {{/godsskinscardsempty}}
        </ul>
    {{/goddata}}
    <hr>
    <footer>
        <p>This page is created by Jan Klass aka Kissaki. All rights reserved.</p>
        <p>Data provided by <a href="http://www.hirezstudios.com">Hi-Rez</a>. ©2015 Hi-Rez Studios, Inc. All rights reserved.</p>
        <p><a href="http://www.smitegame.com">SMITE</a> is a trademark or registered trademark of Hi­Rez Studios, Inc. in the United States and other countries.</p>
    </footer>
</body>
</html>
