<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>SMITE God Skins Overview</title>
	<link rel="stylesheet" href="god-skins.css?20180817" />
</head>
<body>
	<aside id="relatedpages">See also: <a href="smitegods.html">SMITE Gods Overview Table</a><a href="godstats.html">SMITE God Stats</a><a href="mixercodelog.html">SMITE Mixer Stream Chest Code Chat Tracker</a></aside>
    <h1>SMITE God Skins<span id="overall-skin-count"></span></h1>
    <div id="filters">
        Filters:
        <label>God name: <input type="text" id="filter-godname" disabled></label>
        <label>Skin name: <input type="text" id="filter-skinname" disabled></label>
        <label class="filter-checkbox"><input type="checkbox" id="show-standard"> Show Standard Skin</label>
        <label class="filter-checkbox"><input type="checkbox" id="show-mastery"> Show Mastery Skins</label>
    </div>
    <div id="gods">
        {{#.}}
        <div id="god{{id}}" class="god ">
            <h2 class="godname">{{Name}}</h2>
            <span class="godskincount">(?/{{skincount}})</span>
            <img class="godicon" src="{{{godIcon_URL}}}" alt="">
            <div id="skins3492" class="skins">
            {{{Godskins}}}
                {{#godskins}}
                <div class="skin">
                    <h2 class="skinname">{{skin_name}}</h2>
                    <div class="obtainability">{{obtainability}}</div>
                    {{#godSkin_URL}}<a class="skincard" href="{{{.}}}" title=""><img class="skincard" src="img/god-skin-card-loading.png" data-src="{{{.}}}" alt=""></a>{{/godSkin_URL}}
                    {{^godSkin_URL}}<div class="skincard skincard-missing">missing card art</div>{{/godSkin_URL}}
                    {{#price_favor}}<div class="price price-favor">{{.}} favor</div>{{/price_favor}}
                    {{#price_gems}}<div class="price price-gems">100 gems</div>{{/price_gems}}
                </div>
                {{/godskins}}
            </div>
        </div>
        {{/.}}
    </div>
    <hr>
    <footer>
        <p>This interactive overview of SMITE god skins has been created by Jan Klass aka Kissaki. All rights reserved.</p>
        <p>Data provided by <a href="http://www.hirezstudios.com">Hi-Rez</a>. ©2015 Hi-Rez Studios, Inc. All rights reserved.</p>
        <p><a href="http://www.smitegame.com">SMITE</a> is a trademark or registered trademark of Hi­Rez Studios, Inc. in the United States and other countries.</p>
    </footer>
<script src="god-skins.js"></script>
</body>
</html>
