<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>SMITE God Skin Themes</title>
	<link rel="stylesheet" href="god-skin-themes.css?20190106" />
</head>
<body>
	<aside id="relatedpages">See also: <a href="god-skins.html">SMITE God Skins</a><a href="smitegods.html">SMITE Gods Overview Table</a><a href="godstats.html">SMITE God Stats</a><a href="mixercodelog.html">SMITE Mixer Stream Chest Code Chat Tracker</a></aside>
    <h1>SMITE God Skin Themes<span id="overall-skin-count"></span></h1>
    <p class="intro">The list of themes and categorization of skins into these categories is a <b>manual process</b>. As such, this list may need some feedback, input, help, and may be partially and/or temporarily outdated.</p>
    <p class="intro">If you want to contribute; help improve the list, please contact me directly.</p>
    {{#themes}}
        <details id="skintheme-{{name}}" class="skintheme">
            <summary><h2 class="skinthemename">{{name}}</h2></summary>
            <div class="skins">
                {{#skins}}
                    <div class="godskin" data-skinid="{{skin_id1}}">
                        <div class="godlabel"><img class="godicon" src="{{godIcon_URL}}" />{{god_name}}</div>
                        <h3 class="skinname">{{skin_name}}</h3>
                        <div class="obtainability">{{obtainability}}</div>
                        {{#godSkin_URL}}<a class="skincard" href="{{{.}}}" title=""><img class="skincard" src="img/god-skin-card-loading.png" data-src="{{{.}}}" alt=""></a>{{/godSkin_URL}}
                        {{^godSkin_URL}}<div class="skincard skincard-missing">missing card art</div>{{/godSkin_URL}}
                        {{#price_favor}}<div class="price price-favor">{{.}} favor</div>{{/price_favor}}
                        {{#price_gems}}<div class="price price-gems">100 gems</div>{{/price_gems}}
                    </div>
                {{/skins}}
            </div>
        </details>
    {{/themes}}
    {{^themes}}
        No skin theme data available…
    {{/themes}}
    <hr>
    <details>
        <summary>Uncategorized</summary>
        <ul class="uncategorized">
            {{#uncategorized}}
                <li>{{god_name}}: [{{skin_id1}}] {{skin_name}} {{#godSkin_URL}}<a href="{{{.}}}">Card</a>{{/godSkin_URL}}{{^godSkin_URL}}(No Card){{/godSkin_URL}} ({{obtainability}}, {{#price_favor}}{{.}}, favor{{/price_favor}}{{#price_gems}}, 100 gems{{/price_gems}})</li>
            {{/uncategorized}}
        </ul>
    </details>
    <hr>
    <footer>
        <p>This interactive overview of SMITE god skins has been created by Jan Klass aka Kissaki. All rights reserved.</p>
        <p>Data provided by <a href="http://www.hirezstudios.com">Hi-Rez</a>. ©2015 Hi-Rez Studios, Inc. All rights reserved.</p>
        <p><a href="http://www.smitegame.com">SMITE</a> is a trademark or registered trademark of Hi­Rez Studios, Inc. in the United States and other countries.</p>
    </footer>
    <script src="god-skin-themes.js"></script>
</body>
</html>
