
		<h2>Changelog</h2>
		<p>04.02.2017: Data update; new Vamana god icon</p>
		<p>01.02.2017: Data update; new FR</p>
		<p>24.01.2017: Data update; new FR, Kali is back</p>
		<p>10.01.2017: Data update; new pantheon and god</p>
		<p>11.12.2016: Data update; Nike and FR</p>
		<p>11.11.2016: Thoth Icon was added</p>
		<p>08.11.2016: Update data: New god Thoth (no img), new FR</p>
		<p>12.10.2016: Update data, new free rotation</p>
		<p>12.10.2016: Update data, new god Camazotz</p>
		<p>03.10.2016: Add filter action button "random" for role and pantheon</p>
		<p>03.10.2016: Update free god rotation</p>
		<p>03.10.2016: Add filter buttons to deselect all pantheons/roles</p>
		<p>02.09.2016: Data update: New god Izanami, new free rotation</p>
		<p>17.08.2016: Data update; god rotation</p>
		<p>02.08.2016: Data update; new patch, new god Terra</p>
		<p>19.07.2016: Data update, new free god rotation</p>
		<p>07.07.2016: Data update; new patch, new god Erlang Shen</p>
		<p>…: Data update</p>
		<p>24.05.2016: Update data after Patch 3.9 release (nothing changed yet)</p>
		<p>17.05.2016: Update data (free god rotation changed)</p>
		<p>12.05.2016: Update data again (upstream got changed) (Susano Icon, Free rotation)</p>
		<p>10.05.2016: Update data for patch 3.8 (new god Susano, updated Arachne image)</p>
		<p>04.05.2016: Add changelog</p>
		<p>04.05.2016: Resource file qualifiers to make sure CSS and JS are not cached by webbrowser</p>
		<p>04.05.2016: Checkboxes for role and pantheon filters</p>
		<p>04.05.2016: Update free rotation gods (fetch data and generate)</p>
		<p>03.05.2016: Add filter clear buttons</p>
		<p>29.04.2016: Sort pantheons, roles and gods</p>
		<p>29.04.2016: Pantheon Icons</p>
		<p>27.04.2016: Fix for Chrome regarding filters</p>
		<p>27.04.2016: Initial Release</p>