<div class="ability">
    
    <details>
        <summary><img src="{{.URL}}" alt="" />{{.Summary}}</summary>
        <div class="ability-description">
            {{with .Description.ItemDescription}}
                <div class="description-primary">{{- .Description -}}</div>
                <hr>
                <div class="description-secondary">{{- .SecondaryDescription -}}</div>
                <hr>
                <div>Cost: {{.Cost}}</div>
                <div>Cooldown: {{.Cooldown}}</div>
                {{range .Menuitems}}
                    <div>{{.Description}}{{.Value}}</div>
                {{end}}
            {{end}}
        </div>
    </details>
</div>
