<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>SMITE God Overview</title>
	<link rel="stylesheet" href="smitegods.css?{{.ResourceQualifierCSS}}" />
</head>
<body>
	<aside id="relatedpages">See also: <a href="god-skins.html">SMITE God Skins</a><a href="god-skin-themes.html">SMITE Skin Themes</a><a href="godstats.html">SMITE God Stats</a><a href="mixercodelog.html">SMITE Mixer Stream Chest Code Chat Tracker</a></aside>
	<h1>SMITE God Overview</h1>
	<div id="about" class="data-block">
		<h2>About</h2>
		<p>This is an interactive overview of SMITE®s gods with their associated pantheon and role. This is especially useful for the weekly quests, which may focus on a specific pantheon or role.</p>
		<aside>Updating this table is trivial (e.g. automated), especially compared to traditional, manually created image files. So expect this to stay up to date, or give me a quick heads-up.</aside>
	</div>
	<div id="legend" class="data-block">
		<h2>Legend</h2>
		Free Rotation: <span id="legend_freerotation">FR</span>
	</div>

	<form id="options" class="data-block">
		<h2>Display Options</h2>
		<fieldset>
			<div class="option">
				<label for="god-icon-size">God Icon Size:</label>
				<input id="god-icon-size" type="range" min="32" max="128" value="64" step="16" />
				<span id="god-icon-size-value"></span> px
				<input id="god-icon-size-clear" type="button" value="⌧">
			</div>
		</fieldset>
	</form>
	<form id="filters" class="data-block">
		<h2>Filters</h2>
		<fieldset>
			<div class="filter">
				<label for="filter-god">God Filter:</label>
				<input id="filter-god" type="text">
				<input id="filter-god-clear" type="button" value="⌧">
			</div>
			<div class="filter">
				<label for="filter-pantheon">Pantheon Filter:</label>
				<ul>
				{{range $pantheon := .Pantheons}}
					<li>
						<label id="filter-pantheon-option-{{ToCSSClass $pantheon}}" class="filter-pantheon-option">
							<input id="filter-pantheon-cb-{{ToCSSClass $pantheon}}" class="filter-pantheon-cb" type="checkbox" checked>
							{{$pantheon}}
						</label>
					</li>
				{{end}}
				</ul>
				<input id="filter-pantheon-clear" type="button" value="All">
				<input id="filter-pantheon-none" type="button" value="None">
				<input id="filter-pantheon-invert" type="button" value="Invert">
				<input id="filter-pantheon-random" type="button" value="Random">
			</div>
			<div class="filter">
				<label >Role Filter:</label>
				<ul>
					{{range $role := .Roles}}
					<li>
						<label id="filter-role-option-{{ToCSSClass $role}}" class="filter-role-option">
							<input id="filter-role-cb-{{ToCSSClass $role}}" class="filter-role-cb" type="checkbox" checked>
							{{$role}}
						</label>
					</li>
					{{end}}
				</ul>
				<input id="filter-role-clear" type="button" value="All">
				<input id="filter-role-none" type="button" value="None">
				<input id="filter-role-invert" type="button" value="Invert">
				<input id="filter-role-random" type="button" value="Random">
			</div>
		</fieldset>
	</form>
	<div style="clear:both">
	</div>

	{{$size := len .Assoc -}}
	{{if gt $size 0 -}}
		<h2>God Grid</h2>
		<table id="smitegodstable">
			<thead>
				<tr>
					<th></th>
					{{range $role := .Roles}}
					<th id="role-column-{{ToCSSClass $role}}">
						<i class="icon-role icon icon-{{ToCSSClass $role}}"></i>{{$role}}
					</th>
					{{end}}
				</tr>
			</thead>
			<tbody>
				{{$roles := .Roles -}}
				{{$assoc := .Assoc -}}
				{{range $pantheon := .Pantheons}}
				<tr id="pantheon-row-{{ToCSSClass $pantheon}}">
					<th>
						{{$pantheon}}<br>
						<i class="icon-pantheon icon icon-{{ToCSSClass $pantheon}}"></i>
					</th>
					{{range $role := $roles}}
					<td>
						{{$godsByID := index $assoc $pantheon $role}}
						<ul>
							{{range $godsByID}}
							<li>{{template "god.html" .}}</li>
							{{end}}
						</ul>
					</td>
					{{end}}
				</tr>
				{{end}}
			</tbody>
		</table>
		<h3>Pick a random god</h3>
		<button id="random-pick-button">Pick random god from the view</button>
		<div id="random-pick-result"></div>
	{{else}}
		No god data available.
	{{end}}
	<aside>
		{{- template "changelog.html" .Changelog}}
	</aside>
	<footer>
		<p>This interactive overview of SMITE gods has been created by Jan Klass aka <a href="https://github.com/Kissaki">Kissaki</a>. All rights reserved. HTML is generated from a program written in Go. CSS and JavaScript were created bare-bone.</p>
		<p>Data provided by <a href="http://www.hirezstudios.com">Hi-Rez</a>. ©2015 Hi-Rez Studios, Inc. All rights reserved.</p>
		<p><a href="http://www.smitegame.com">SMITE</a> is a trademark or registered trademark of Hi­Rez Studios, Inc. in the United States and other countries.</p>
	</footer>
	<div id="god-overlay">
	</div>
	<script src="smitegods.js?{{.ResourceQualifierJS}}"></script>
</body>
</html>