<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>SMITE God Overview</title>
	<link rel="stylesheet" href="smitegods.css?{{.ResourceQualifierCSS}}" />
</head>
<body>
	<h1>SMITE God Overview</h1>
	<div id="about" class="data-block">
		<h2>About</h2>
		<p>This is an interactive overview of SMITE®s gods with their associated pantheon and role. This is especially useful for the weekly quests, which may focus on a specific pantheon or role.</p>
		<aside>Updating this table is trivial (e.g. automated), especially compared to traditional, manually created image files. So expect this to stay up to date, or give me a quick heads-up.</aside>
	</div>
	<div id="legend" class="data-block">
		<h2>Legend</h2>
		Free Rotation: <span id="legend_freerotation">FR</span>
	</div>

	<form id="options" class="data-block">
		<h2>Display Options</h2>
		<fieldset>
			<div class="option">
				<label for="god-icon-size">God Icon Size:</label>
				<input id="god-icon-size" type="range" min="32" max="128" value="64" step="16" />
				<span id="god-icon-size-value"></span> px
				<input id="god-icon-size-clear" type="button" value="⌧">
			</div>
		</fieldset>
	</form>
	<form id="filters" class="data-block">
		<h2>Filters</h2>
		<fieldset>
			<div class="filter">
				<label for="filter-god">God Filter:</label>
				<input id="filter-god" type="text">
				<input id="filter-god-clear" type="button" value="⌧">
			</div>
			<div class="filter">
				<label for="filter-pantheon">Pantheon Filter:</label>
				<ul>
				{{range $pantheon := .Pantheons}}
					<li>
						<label id="filter-pantheon-option-{{ToCSSClass $pantheon}}" class="filter-pantheon-option">
							<input id="filter-pantheon-cb-{{ToCSSClass $pantheon}}" class="filter-pantheon-cb" type="checkbox" checked>
							{{$pantheon}}
						</label>
					</li>
				{{end}}
				</ul>
				<input id="filter-pantheon-clear" type="button" value="All">
				<input id="filter-pantheon-none" type="button" value="None">
				<input id="filter-pantheon-random" type="button" value="Random">
			</div>
			<div class="filter">
				<label >Role Filter:</label>
				<ul>
					{{range $role := .Roles}}
					<li>
						<label id="filter-role-option-{{ToCSSClass $role}}" class="filter-role-option">
							<input id="filter-role-cb-{{ToCSSClass $role}}" class="filter-role-cb" type="checkbox" checked>
							{{$role}}
						</label>
					</li>
					{{end}}
				</ul>
				<input id="filter-role-clear" type="button" value="All">
				<input id="filter-role-none" type="button" value="None">
				<input id="filter-role-random" type="button" value="Random">
			</div>
		</fieldset>
	</form>
	<div style="clear:both">
	</div>

	{{$size := len .Assoc -}}
	{{if gt $size 0 -}}
		<h2>God Grid</h2>
		<table id="smitegodstable">
			<thead>
				<tr>
					<th></th>
					{{range $role := .Roles}}
					<th id="role-column-{{ToCSSClass $role}}">{{$role}}</th>
					{{end}}
				</tr>
			</thead>
			<tbody>
				{{$roles := .Roles -}}
				{{$assoc := .Assoc -}}
				{{range $pantheon := .Pantheons}}
				<tr id="pantheon-row-{{ToCSSClass $pantheon}}">
					<th>
						{{$pantheon}}<br>
						<div class="icon-pantheon icon-pantheon-{{ToCSSClass $pantheon}}"></div>
					</th>
					{{range $role := $roles}}
					<td>
						{{$godsByID := index $assoc $pantheon $role}}
						<ul>
							{{range $godsByID}}
							<li>{{template "god.html" .}}</li>
							{{end}}
						</ul>
					</td>
					{{end}}
				</tr>
				{{end}}
			</tbody>
		</table>
	{{else}}
		No god data available.
	{{end}}
	<aside>
		<h2>Changelog</h2>
		<p>01.02.2017: Data update; new FR</p>
		<p>24.01.2017: Data update; new FR, Kali is back</p>
		<p>10.01.2017: Data update; new pantheon and god</p>
		<p>11.12.2016: Data update; Nike and FR</p>
		<p>11.11.2016: Thoth Icon was added</p>
		<p>08.11.2016: Update data: New god Thoth (no img), new FR</p>
		<p>12.10.2016: Update data, new free rotation</p>
		<p>12.10.2016: Update data, new god Camazotz</p>
		<p>03.10.2016: Add filter action button "random" for role and pantheon</p>
		<p>03.10.2016: Update free god rotation</p>
		<p>03.10.2016: Add filter buttons to deselect all pantheons/roles</p>
		<p>02.09.2016: Data update: New god Izanami, new free rotation</p>
		<p>17.08.2016: Data update; god rotation</p>
		<p>02.08.2016: Data update; new patch, new god Terra</p>
		<p>19.07.2016: Data update, new free god rotation</p>
		<p>07.07.2016: Data update; new patch, new god Erlang Shen</p>
		<p>…: Data update</p>
		<p>24.05.2016: Update data after Patch 3.9 release (nothing changed yet)</p>
		<p>17.05.2016: Update data (free god rotation changed)</p>
		<p>12.05.2016: Update data again (upstream got changed) (Susano Icon, Free rotation)<p>
		<p>10.05.2016: Update data for patch 3.8 (new god Susano, updated Arachne image)</p>
		<p>04.05.2016: Add changelog</p>
		<p>04.05.2016: Resource file qualifiers to make sure CSS and JS are not cached by webbrowser</p>
		<p>04.05.2016: Checkboxes for role and pantheon filters</p>
		<p>04.05.2016: Update free rotation gods (fetch data and generate)</p>
		<p>03.05.2016: Add filter clear buttons</p>
		<p>29.04.2016: Sort pantheons, roles and gods</p>
		<p>29.04.2016: Pantheon Icons</p>
		<p>27.04.2016: Fix for Chrome regarding filters</p>
		<p>27.04.2016: Initial Release</p>
	</aside>
	<footer>
		<p>This interactive overview of SMITE gods has been created by Jan Klass aka <a href="https://github.com/Kissaki">Kissaki</a>. All rights reserved. HTML is generated from a program written in Go. CSS and JavaScript were created bare-bone.</p>
		<p>Data provided by <a href="http://www.hirezstudios.com">Hi-Rez</a>. ©2015 Hi-Rez Studios, Inc. All rights reserved.</p>
		<p><a href="http://www.smitegame.com">SMITE</a> is a trademark or registered trademark of Hi­Rez Studios, Inc. in the United States and other countries.</p>
	</footer>
	<script src="smitegods.js?{{.ResourceQualifierJS}}"></script>
</body>
</html>