<div class="item">
	{{if .DeviceName}}
	<img class="icon" title="" src="{{.ItemIconURL}}">
	{{else}}
	<div class="noicon">no icon</div>
	{{end}}
	<div class="name">Name: {{.DeviceName}}</div>
	<div class="price">Price: {{.Price}}</div>
	<div class="shortdesc">{{.ShortDesc}}</div>
	<div class="description">
		<p>{{.ItemDescription.Description}}</p>
		<p>{{.ItemDescription.SecondaryDescription}}</p>
	</div>
	<div class="type">{{.Type}}</div>
	{{if .StartingItem}}<span class="tag startingitem">Starting Item</span>{{end}}
</div>
